<!DOCTYPE html>
<html data-ng-app="">
<head>
    <title>Controllers and Scope and Views</title>
</head>
    <body>
        
        <!--<div data-ng-controller="SimpleController">
            <ul>
                <li data-ng-repeat="cust in customers">
                    {{cust.name}} - {{cust.city}}
                </li>
            </ul>
        </div>-->
        
        <!--With filter-->
        <!--<div data-ng-controller="SimpleController">
            Name : <input type="text" data-ng-model="firstName" /><br />
            <ul>
                <li data-ng-repeat="customer in customers | filter:firstName | orderBy:'city'">{{customer.name}} - {{customer.city}}</li>
            </ul>
        </div>-->

        <script src="Scripts/angular.js"></script>
        <script src="app.js"></script>
    </body>
</html>
